.logo {
    margin-right: var(--margin-normal) !important;;
    font-family: monospace !important;
    font-weight: 700 !important;;
    letter-spacing: .3rem !important;;
    color: var(--color-inherit);
    text-decoration: none;
}

.header_link {
    margin-bottom: var(--margin-normal);
    margin-top: var(--margin-normal);
    color: var(--color-inherit)!important;
    display: block;
}

.pages_container {
    flex-grow: 1;
}

.secondary_pages_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
